[submodule "onlyPwner2/lib/openzeppelin-contracts"]
	path = onlyPwner2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "HackTheBox/lib/openzeppelin-contracts"]
	path = HackTheBox/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
